<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} localhost
RewriteCond %{REQUEST_URI} !^/wp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /wp/$1
RewriteCond %{HTTP_HOST} localhost
RewriteRule ^(/)?$ wp/index.php [L] 
</IfModule>
